@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --white:#ffff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --black: #000000;
    --green: #006769;
    --gray: #ededed;
    --light-green: #40A578;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: .5rem;
}

section {
    padding: 5rem 7%;
}

.heading {
    font-size: 4rem;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--green);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--light-green);
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: transparent;
    transition: background-color 0.3s ease;
}

.header .name-header p {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
    padding-right: .5rem;
    transition: color 0.3s ease;
}

.header .nav-header a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white);
    margin: 0 1.5rem;
    transition: color 0.3s ease;
}

.header.scrolled .name-header p,
.header.scrolled .nav-header a {
    color: var(--black);
}

.header .nav-header a:after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--green);
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    transition: width 0.5s ease; 
}

.header .nav-header a:hover::after {
    width: 100%; 
}

.header .booking-btn a {
    margin-top: 0;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
}

.header .booking-btn a:hover{
    background: var(--light-green);
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--white);
}

#menu-btn:hover {
    color: var(--green);
}

/* end */

/* home */

.home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h2 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

.home .slide .content p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: .5rem;
    letter-spacing: 1rem;
    padding: .5rem 0;
}

/* content animation*/

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.home .slide .content h2,
.home .slide .content p {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}


/* slider images*/

.slide-1 {
    background: linear-gradient(to top, #000000be 5%, transparent), linear-gradient(to bottom, #000000be 20%, transparent), url(../images/header/slider\ 1.jpg) no-repeat;
}

.slide-2 {
    background: linear-gradient(to top, #000000be 5%, transparent), linear-gradient(to bottom, #000000be 20%, transparent), url(../images/header/slider\ 2.jpg) no-repeat;
}

.slide-3 {
    background: linear-gradient(to top, #000000be 5%, transparent), linear-gradient(to bottom, #000000be 20%, transparent), url(../images/header/slider\ 3.jpg) no-repeat;
}

.slide-4 {
    background: linear-gradient(to top, #000000be 5%, transparent), linear-gradient(to bottom, #000000be 20%, transparent), url(../images/header/slider\ 4.jpg) no-repeat;
}

.slide-5 {
    background: linear-gradient(to top, #000000be 5%, transparent), linear-gradient(to bottom, #000000be 20%, transparent), url(../images/header/slider\ 5.jpg) no-repeat;
}


.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: transparent;
    color: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--gray);
    color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

/* end */

/* booking section */

.booking-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.booking-section form {
    display: flex;
    flex-direction: row; /* Change to row to place boxes beside each other */
    flex-wrap: wrap; /* Allow wrapping to the next line if there isn't enough space */
    align-items: center;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
    max-width: 1000px;
    width: 100%;
    border-top: solid .5rem var(--green);
    margin-top: -8rem;
    z-index: 5;
}

.booking-section form .box {
    flex: 1 1 20rem; /* This will ensure the boxes have a minimum width and can grow */
    max-width: 300px; /* Optional: limit the max-width of the boxes */
}

.booking-section form .booking-header {
    color: var(--green);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    width: 100%; /* Ensure the header spans the full width of the form */
}

.booking-section form .box p {
    font-size: 1.8rem;
    color: var(--green);
    font-weight: 400;
}

.booking-section form .box span {
    font-size: 1.3rem;
    color: var(--green);
    font-weight: 400;
}

.booking-section form .box .input {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

.booking-section form .box input[type="date"],
.booking-section form .box input[type="requests"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

.btn-submit {
    display: inline-block;
    margin: 1rem auto 0 auto;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--green);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn-submit:hover {
    background: var(--light-green);
}




/* end */

/* about */

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--green);
    padding: 2rem 0;
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
}

.about .row .content span {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--green);
    padding: 1rem 0;
    line-height: 1.8;
}

/* end */

/* facilities */

.facilities .swiper {
    margin-bottom: 20px; 
 }

.facilities .slide {
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
}

.facilities .slide .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.facilities .slide .image img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.facilities .slide .image .price {
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.facilities .slide .image .fa-readme {
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--white);
    color: var(--black);
    border-radius: 50%;
}

.facilities .slide .image .fa-readme:hover {
    background: var(--secondary);
    color: var(--white);
}

.facilities .slide .content {
    padding: 2rem;
    padding-top: 0;
}

.facilities .slide .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.facilities .slide .content p {
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    line-height: 1.5;
}



/* end */

/* services */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
}

.services .box-container .box {
    text-align: center;
}

.services .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

/* end */

/* rates */

.rates .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
}

.rates .box-container h3 {
    font-size: 2.5rem;
    color: var(--green);
    text-align: center;
}

.rates .box-container .left-column,
.rates .box-container .right-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.rates .box-container .price-chart {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.rates .box-container .price-chart thead {
    background-color: var(--green);
    color: #fff;
}

.rates .box-container .price-chart th,
.rates .box-container .price-chart td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1.5rem;
}

.rates .box-container .price-chart tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.rates .box-container .packages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.rates .box-container .package-box {
    background-color: #fff;
    border-color: var(--green);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 1500px;
    text-align: center;
}

.rates .box-container .package-box h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.rates .box-container .package-box ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
}

.rates .box-container .package-box ul li {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.rates .box-container .price h4 {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* end */


/* gallery */

.gallery .slide{
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.gallery .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .slide .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.gallery .slide .icon i{
    font-size: 6rem;
    color: var(--white);
}

.gallery .slide:hover .icon{
    display: flex;
}

/* end */



/* reservation */

.reservation form{
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.reservation form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form .container .box{
    flex: 1 1 40rem;
}

.reservation form .container .box p{
    font-size: 1.8rem;
    color: var(--green);
}

.reservation form .container .box span {
    font-size: 1.3rem;
    color: var(--green);
    font-weight: 400;
}

.reservation form .container .box .input{
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
}

.btn-reservation {
    display: inline-block;
    margin: 1rem auto 0 auto;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--green);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn-reservation:hover {
    background: var(--light-green);
}

/* end */

/* footer */

.footer {
    background: var(--gray);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--green);
}

.footer .box-container .box p {
    font-size: 1.6rem;
    display: block;
    color: var(--green);
    padding: 1rem 0;
}

.footer .box-container .box a {  
    font-size: 1.6rem;
    display: block;
    color: var(--green);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--primary);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--light-green);
}

.footer .box .share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.footer .box .share a {
    color: var(--green);
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4rem;
    border-radius: 100%;
    border: .1rem solid var(--green);
    padding: 1px 14px;
    margin: 0;
}

.footer .box .share a:hover{
    color: var(--white);
    background: var(--light-green);
}

/* end */

















/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .review .review-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}